
.resp7-form-wrapper-profile input{
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    font-size: 14px;
}
.resp7-profile-image-holder{
    margin-top: 2vh;
}
.resp7-profile-image-holder img{
    width: 100%;

}
:focus{
    outline: none;
}
.resp7-profile-details-wrapper{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resp7-profile-inner{
    padding: 20px;
    background:#fff;
    max-width: 850px;
    margin: 6rem auto;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.resp7-profile-inner .mod5-profile-image-holder{
    width: 50%;
}
.resp7-profile-inner form{
    width: 50%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px;
}
.resp7-profile-inner h3{
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 28px;
}
.resp7-form-group-profile{
    display: flex;
}
.resp7-form-group-profile input{
    width: 100%;
}
.resp7-form-group-profile input{
    margin-right: 8px;
}
.resp7-form-wrapper-profile{
    position: relative;
}
.resp7-form-control-profile{
    border: 1px solid #333;
    border: none;
    border-bottom: 1px solid #333;
    width:100%;
    height: 30px;
    padding-right: 0;
    margin-bottom: 25px;
}
.resp7-view-profile-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.resp7-view-profile-button{
  padding: 10px 20px;
  background-color: #86469C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
@media(max-width:767px){
    .resp7-profile-inner{
        display: block;
    }
    .resp7-profile-inner .mod7-profile-image-holder{
        width: 100%;
    }
    .resp7-profile-inner form{
        width: 100%;
        padding: 40px 0 30px;
    }
}