.resp8-container {
    max-width: 400px;
    margin-top: 10vh;
    margin-left: 38vw;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

  }
  .resp8-logout{
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
}
.resp8-logout{
  margin-top: 7vh;
  margin-left: 2vw;
  padding: 10px 20px;
  background-color: #86469C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
  .resp8-mainheading{
    text-align: center;
    margin-top: 4vh;
  }
  .resp8-heading {
    text-align: center;
  }
  
  .resp8-form {
    display: flex;
    flex-direction: column;
  }
  
  .resp8-input-container {
    margin-bottom: 10px;
  }
  
  .resp8-label {
    font-weight: bold;
  }
  
  .resp8-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .resp8-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .resp8-button:hover {
    background-color: #0056b3;
  }
  
  .resp8-error-message {
    color: red;
  }
  
  .resp8-success-message {
    color: green;
  }
  