.appointmentgrid {
  height: 80%;
  width: 50%;
  background-color: white;
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logoutButton {
  margin-left: 48%;
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #d32f2f;
}

.middlePageContainer{
  display: flex;
  align-items: center;
  margin-top: 15vh;
  margin-left: 2vh;
  align-items: flex-start;
  justify-content: space-evenly;
}
.appointment-slots-table{
  height:30vw;
  width:30vw;
  justify-content: space-evenly;
  height: 60vh;
  width:25%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}