.resp3-question-answer-card_responder {
    width: 200%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6); /* Light background color */
    border-radius: 20px;
    border: 2px solid #000; /* Black border */
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  
  }
  
  .resp3-username {
    margin-bottom: 10px;
  }
  
  .resp3-header_responder {
    margin-bottom: 10px;
    height: 30px;
    display: flex;
    align-items: center; /* Vertically align items */
  }
  
  .resp3-question-answer-card_responder h3 {
    font-size: 1.2rem;
    margin-bottom: 4px;
  }
  
  .resp3-question-answer-card_responder p {
    font-size: 1rem;
    margin-bottom: 12px;
  }
  
  .resp3-ques-content_responder {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    height: 50px;
    overflow: auto;
  }
  

  
  .resp3-answer-info {
    display: flex;
    justify-content: space-between;
  }
  
  .resp3-answer-timing {
    font-style: italic;
  }
  
  .resp3-form-group {
    margin-bottom: 15px;
  }
  
  .resp3-label{
    display: block;
  }
  
  .resp3-form-control {
    height: 100px; /* Adjust this value as needed */
    resize: none; /* Prevent resizing of the input */
    background-color:rgba(255, 255, 255, 0.6); /* Light gray background color */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Padding for spacing inside the input field */
    color: #333; /* Font color for better readability */
    width: 100%;
  }
  
  
  .resp3-btn-submit {
    background-color: #007bff; /* Primary color */
    color: #fff; /* Text color */
    padding: 8px 16px; /* Padding */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease-in-out;
    margin-left: 350px;
  }
  