.mod6-navbar {
  margin-top: -1.5vh; /* Margin top relative to viewport height */
  width: 98vw; /* Width relative to viewport width */
  height: 15vh; /* Height relative to viewport height */
  background-color: #86469C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1vw; /* Padding relative to viewport width */
  font-size: 1.5vw; /* Font size relative to viewport width */
}

.mod6-navbar-brand,.mod6-navbar-toggler{
   
    font-size: 2.5vw; /* Increase font size */
    white-space:nowrap;
    margin-left: 1vw;
}

/* AdminPanel.css */

/* Navbar style */
.mod6-navbar {
    display: flex;
    align-items: center;
  }
  

  /* Center the nav items */
  .mod6-navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mod6-nav-item {
    
  
    margin-right: 100px; /* Adjust the margin as needed */
  }
  
  /* Adjust dropdown position if needed */
  .mod6-nav-item.dropdown {
    position: relative;
    margin-right: 10vw;
  }
  
  .mod6-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
  }
 
  .mod6-logo{
    margin-top:2vh ;
    width: 100px;
    height: 80px;
  }
  